<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{pageTitle}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a [routerLink]="['/dashboard']">Dashboard</a> / <a [routerLink]="['/products']">Prodct</a> / Add
                    <a [routerLink]="['/products']" routerLinkActive="active" class="btn btn-primary btn-xs pull-right">Back</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <!--<div class="col-lg-6">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control">
                                    <option>-Select-</option>
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" [(ngModel)]="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input name="price" [(ngModel)]="price" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Status</label>
                                <input name="status" [(ngModel)]="status" class="form-control">
                            </div>
                        </div>
                        <!--<div class="col-lg-12">
                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="10" class="form-control"></textarea>
                            </div>
                        </div>-->
                        <div class="col-lg-12">
                            <button type="button" (click)="addProduct();" class="btn btn-default">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
